body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(12, 15, 12);
    margin: center;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 20px;
    margin: flex;
  }
  
  .square {
    background: rgb(94, 42, 42);
    border: 1px solid rgb(26, 22, 22);
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
  }
  
  .square:focus {
    outline: none;
    color: aliceblue;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(196, 48, 48);
  }
  
  .game {
    display: flex;
    flex-direction: row;
    
  }
  
  .nif {
    margin-left: 60px;
    color:whitesmoke;
    margin: center;
  }
  .flechas{
    margin-left: 60px;

  }
  